.ralphy {
        background-image:url('ralphy.gif');
        width: 250px;
        height: 187px;
}

@media 
(min-width: 1400px) {
        .ralphy {
                background-position: 0px 0px;
                width: 250px;
                height: 187px;
        }
}

@media 
(min-width: 1200px)
and (max-width: 1400px) {
        .ralphy {
                background-position: -250px 0px;
                width: 250px;
                height: 187px;
        }
}

@media 
(min-width: 1000px) 
and (max-width: 1200px) {
        .ralphy {
                background-position: 0px -187px;
                width: 250px;
                height: 187px;
        }
}

@media 
(min-width: 800px) 
and (max-width: 1000px) {
        .ralphy {
                background-position: -250px -187px;
                width: 250px;
                height: 187px;
        }
}

@media 
(min-width: 600px) 
and (max-width: 800px) {
        .ralphy {
                background-position: 0px -373px;
                width: 250px;
                height: 187px;
        }
}

@media 
(max-width: 600px) {
        .ralphy {
                background-position: -250px -373px;
                width: 250px;
                height: 187px;
        }
}