/*If the browser width is greater than 1400 pixels, display the top-left image of ralphy.gif
If the browser screen width is greater than 1200 pixels but less than or equal to 1400 pixels, display the top-right image of ralphy.gif
If the browser screen width is greater than 1000 pixels but less than or equal to 1200 pixels, display the left image of the middle row of ralphy.gif (e.g., "Now you listen to me!...")
If the browser screen width is greater than 800 pixels but less than or equal to 1000 pixels, display the right image of the middle row of ralphy.gif (e.g., "And the only reason I gave...")
If the browser screen width is greater than 600 pixels but less than or equal to 800 pixels, display the bottom-left image of ralphy.gif
If the browser screen width is less than or equal to 600 pixels, display the last image, bottom-right.
The entire image ralphy.gif is 500px x 560px.*/

.ralphy {
        background-image:url('ralphy.gif');
        width: 250px;
        height: 187px;
}

@media 
(min-width: 1400px) {
        .ralphy {
                background-position: 0px 0px;
                width: 250px;
                height: 187px;
        }
}

@media 
(min-width: 1200px)
and (max-width: 1400px) {
        .ralphy {
                background-position: -250px 0px;
                width: 250px;
                height: 187px;
        }
}

@media 
(min-width: 1000px) 
and (max-width: 1200px) {
        .ralphy {
                background-position: 0px -187px;
                width: 250px;
                height: 187px;
        }
}

@media 
(min-width: 800px) 
and (max-width: 1000px) {
        .ralphy {
                background-position: -250px -187px;
                width: 250px;
                height: 187px;
        }
}

@media 
(min-width: 600px) 
and (max-width: 800px) {
        .ralphy {
                background-position: 0px -373px;
                width: 250px;
                height: 187px;
        }
}

@media 
(max-width: 600px) {
        .ralphy {
                background-position: -250px -373px;
                width: 250px;
                height: 187px;
        }
}